Aplicatie transport ExtraRATT
     Este o aplicatie in care utilizatorul poate vedea in timp real  unde se afla mijloacele de transport , timpul de sosire al mijlocului de transport in statii , locatiile  statiilor apropiate , rutele optime in functie de punctul de plecare si alertele din trafic.
 Cand utilizatorul deschide aplicatia, prima data va cere permisiunea pentru localizarea GPS printr-o  casuta  de dialog afisata pe ecran cu doua optiuni : permite access / nu permite access. Pe casuta   ca si titlu scrie intrebarea : “Permiteti ca aplicatia “ ExtraRatt2 “ sa utilizeze locatia dumneavoastra ? “ si sub,  primul camp  va scrie pe buton “Permite access” si pe al doilea buton “Nu permite access “. 
Aplicatia trimite o cerere de permisiune catre sistemul de operare al dispozitivului. Aceasta este o solicitare catre utilizator de a permite sau refuza accesul aplicatiei la servicile GPS.
Daca utilizatorul selecteaza “permite access” , aplicatia primeste permisiunea de a accesa datele GPS ale dispozitivului. Sistemul de operare inregistreaza decizia utilizatorului. Daca permisiunea este acordata, aceasta va fi retinuta pentru utilizarile viitoare ale aplicatiei, pana cand utilizatorul o modifica din setarile dispozitivului. 
O alta casuta aparuta pe ecran este cand  utilizatorul  poate selecta   limba preferata/nativa dintr-o lista de limbi disponibile.  In casuta  este un camp  dropdown list si  utilizatorul cand  apasa pe camp  se afiseaza celelate limbi straine insirate  de sus in jos. Dupa  selectarea limbii, toate textele si mesajele afisate in aplicatie vor fi traduse automat in limba selectata . Sub campul dropdwn list este un buton ce scrie pe el “Continue “ .  Utilizatorul apasa pe butonul continue de mai jos si se afiseaza harta timisoarei .
    In coltul din stanga se afla un buton cu un clopotel  unde aplicatia   trasnmite alerte/notificari  in cazul in care anumite trasee sunt blocate sau anumite intamplari neprevazute in oras /trafic.La buton va aparea numarul notificarilor si utilizatorul cand apasa se va deschide o fereastra cu anunturile incarcate . In dreapta clopotelului se afla un al dolea buton cu un “ i “ ce semnifica “informatii “ . Pe buton cand este selectat se afiseasa o casuta cu titlul “ Buletin informativ “ , unde este descrisa informatia despre biletele de transport , locatia unde se pot achizitiona  si altele
In dreapta  butonului de informatii  se afla  un camp dropdown list  unde  utilizatorul alege o destinatie dintr-o lista de destinatii creata de aplicatie pe baza coordonatelor gps ale utilizatorului , aplicatia calculeaza toate traseele posibile pentru destinatia respective.  Sub cele trei butoane se afiseaza harta Timisoarei .  
Sub harta  in dreapta jos se gasesc trei casute unde fiecare reprezinta autobuz, trolebuz si tramvai .        
   Utilizatorul selecteaza una din ele si se deschide o fereastra cu liniile de transport a vehicolului ales. Linille  de transport sunt afisate intr-o lista verticala unde in stanga scrie numarul autobuzului si  spre dreapta traseul cu strada dintr-un capat in cealalat. Dupa ce a selectat numarul mijlocului de trasnport aplicatia ii afiseaza traseul cu linie ingrosata pe harta .
Pe linie apare sigla cu un autobuz, si utilizatorul poate vizualiza in timp real locatia autobuzului . 
In stanga jos  sunt doua butoane cu plus cu minus unde utilizatorul apropie cand apasa pe plus si distantiaza cand apasa pe minus .
Si intre butoanele de distantiere si butoanele cu mijloacele de transport se gasesc doua butoane ce scrie pe ele TUR/RETUR. La selectarea unuia dintre ele se schimba pe harta sensul traseului pentru mijlocul de transport ales . Sensul traseului va fi marcat cu mici sageti pe liniile ingrisate pe harta .
Pe harta se mai afiseaza si statiile pentru mijlocul de transport ales , cand utilizatorul selecteaza una din ele se deschide o fereastra  cu programul statiei actualizat la zi si adresa statiei respective.
